# **MFRE Data Analytics Workshop 3 - Python I**

[Student Name]

November 8, 2021

## Try it out

In [1]:
# print out the sum of 2 + 2
print(2+2)

4

In [2]:
# print "Hello World"
print("Hello World!")

Hello World!

Strings, integers, and floats

In [3]:
# assign "Data Carpentry" to the object text
# text = insert_code_here

text = "Data Carpentry"

# assign 42 to the object number
# insert_code_here

number = 42

# assign 3.1415 to the object pi_value
# insert_code_here

pi_value = 3.1415

# print text
# use print() to print the value of number
# use print() to print the value of text

print(number)
print(text)

42
Data Carpentry

Operators

In [4]:
# Addition
# insert_code_here
print("Addition:")
addition = number + pi_value
print(addition)

# Subtraction
# insert_code_here
print("Subtraction:")
subtraction = number - pi_value
print(subtraction)


# Multiplication
# insert_code_here
print("Multiplication")
multiplication = number*pi_value
print(multiplication)

# Power
# insert_code_here
print("Exponent")
power_1 = number**pi_value
power_2 = pi_value**number
print(power_1)
print(power_2)

# Modulo
# insert_code_here
print("Modulo")
modulo_1 = number % pi_value
modulo_2 = pi_value % number
print(modulo_1)
print(modulo_2)

# Division
# insert_code_here
print("Division")
division_1 = number / pi_value
division_2 = pi_value / number
print(division_1)
print(division_2)

Addition:
45.1415
Subtraction:
38.8585
Multiplication
131.943
Exponent
125729.63239744678
7.581527073710295e+20
Modulo
1.1604999999999976
3.1415
Division
13.369409517746298
0.07479761904761906

Logic Operators

In [5]:
# Examples: <, >, ==, !=, <=, >= 

# insert_code_here
# insert_code_here
# insert_code_here
# insert_code_here
# insert_code_here
# insert_code_here
print(number < pi_value)
print(number > pi_value)
print(number == pi_value)
print(number != pi_value)
print(number <= pi_value)
print(number >= pi_value)

False
True
False
True
False
True

## Lists 
- one of the most fundamental data structures in Python
- build lists using square brackets

In [6]:
# country = insert_code_here
country = ["canada", "usa", "china", "japan"]

# gdp = insert_code_here
gdp = [44100, 55700, 16200, 39300]

# carbon = insert_code_here
carbon = [15.3, 16.6, 7.06, 9.14]

# print country list
# insert_code_here
print(country)
print(len(country))

['canada', 'usa', 'china', 'japan']
4

In [7]:
# check type of country variable
# insert_code_here
print(type(country))

print(type(country[1]))

# check length of country entry
# insert_code_here
len(country)

<class 'list'>
<class 'str'>

4

Lists can also contain different data type, including lists.

In [8]:
# create 
# example1 = insert_code_here
example_1 =["canada", 15.3, "usa", 16.6, "china", 7.06, "japan", 9.14]

# example2 = insert_code_here
example_2 = [
                ["canada", 15.3],
                ["usa", 16.6],
                ["china", 7.06],
                ["japan", 9.14]]

            
# print example1
# insert_code_here
print(example_1)

# print example2
# insert_code_here
print(example_2)

# print "length of example2: [value]"
# print("length of example2: ", insert_code_here)

['canada', 15.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]
[['canada', 15.3], ['usa', 16.6], ['china', 7.06], ['japan', 9.14]]

Each element in a list can be accessed by an index.

In [9]:
# print China's carbon emissions using data from example1
# insert_code_here
print("China's carbon emissions per capita are: " + str(carbon[2]))

# print Japan's carbon emissions using data from example2
# insert_code_here
print("Japan's's carbon emissions per capita are: " + str(carbon[3]))

China's carbon emissions per capita are: 7.06
Japan's's carbon emissions per capita are: 9.14

Slicing lists `[start_index:end_index]`

When you slice a list, it will access the element at `start_index`, but stop just before the element at `end_index`.

In [10]:
country

['canada', 'usa', 'china', 'japan']

In [11]:
example_1

['canada', 15.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]

In [12]:
# print from usa to china using example1
# insert_code_here
print(example_1[2:5])

# print from canada to usa using example1
# insert_code_here
print(example_1[0:2])

# print from china to japan using example1
# insert_code_here
print(example_1[4:7])

# print china's and japan's emissions only (no country name) using example2
# insert_code_here
print([example_2[2][1], example_2[3][1]])

['usa', 16.6, 'china']
['canada', 15.3]
['china', 7.06, 'japan']
[7.06, 9.14]

In [13]:
# can do this better with a numpy array

import numpy as np

matrix_2 = np.array(example_2)
list(matrix_2[2:, 1])

['7.06', '9.14']

In [14]:
example_1 = ['canada', 15.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]
example_1

['canada', 15.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]

In [15]:
carbon

[15.3, 16.6, 7.06, 9.14]

In [16]:
# print the index of a certain value in the list using .index() function
# insert_code_here
print(example_1.index(7.06))

# change canada's emission from 15.3 to 16.3
# insert_code_here
example_1[1] = 16.3
example_1[0] = "South Korea"

# or, better:
example_1[:2] = ["South Korea", 16.3]

# change Canada's entries to South Korea's emissions (12.9)
# insert_code_here
carbon[0] = 12.9

# print example1
print(example_1)
print(carbon)

# add Canada to the end of the list
# insert_code_here

example_1.append("Canada")
example_1.append(15.3)
# print example1
print(example_1)

# use the del() function to delete south korea from the list
# insert_code_here

del(example_1[0:2])
print(example_1)
# print example1

# use the sum() function to sum elements in carbon
# insert_code_here
print(sum(carbon))

# use the for loop to access elements in a list
# insert_code_here
carbon_sum=0
for i in range(len(carbon)):
    carbon_sum += carbon[i]
print(carbon_sum)

5
['South Korea', 16.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]
[12.9, 16.6, 7.06, 9.14]
['South Korea', 16.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14, 'Canada', 15.3]
['usa', 16.6, 'china', 7.06, 'japan', 9.14, 'Canada', 15.3]
45.7
45.7

## Dictionaries

- hold key:value pairs
- use curly brackets `{ }`
- use `data['key']` to access value of a given key

In [17]:
# Let's say we want to access USA's emissions from the carbon list
# But we don't know the index of USA in the country list 

# First access the index of USA from the country list
# usa_index = insert_code_here
usa_index = country.index("usa")
usa_index

# Access USA's emissions from the carbon list using this index number
# insert_code_here
usa_carbon = carbon[usa_index]
usa_carbon


# This method works but is not that efficient

16.6

In [18]:
# Define a dictionary called emissions
# insert_code_here

emissions = {
    "canada": 15.3,
    "usa": 16.6,
    "china": 7.06,
    "japan": 9.14
}

# print china's emissions
# insert_code_here
print(emissions["china"])

# add south korea (12.9) to the dictionary
# insert_code_here
emissions["south korea"] = 12.9

# print emissions
# insert_code_here
print(emissions)

# change south korea's emissions to 15
# insert_code_here
emissions["south korea"] = 15

# print emissions 
# insert_code_here
print(emissions)

# use del() function to delete south korea from the dict
# insert_code_here
del(emissions["south korea"])

# print emissions
# insert_code_here
print(emissions)

# create a nested dictionary called data containing GDP and carbon emissions
# insert_code_here
data = {
    'canada': {'gdp': 44100,
               'carbon': 15.3},
    'usa': {'gdp': 55700,
            'carbon': 16.6}
}

# print canada's carbon emissions
# insert_code_here
print(data['canada']['carbon'])

# add china (gdp = 16200, carbon = 7.06) to data
# insert_code_here
# insert_code_here
china_data = {"gdp": 16200, "carbon": 7.06}

data["china"] = china_data

# print data
# insert_code_here
print(data)

# method 1 to use for loops with dictionaries to access each element
# insert_code_here

for key, value in data.items():
    print(key, "->", value)

# method 2 to use for loops with dictionaries to access each element  
# insert_code_here

print(" ")

for key in data.keys():
    print(key, "->", data[key])

7.06
{'canada': 15.3, 'usa': 16.6, 'china': 7.06, 'japan': 9.14, 'south korea': 12.9}
{'canada': 15.3, 'usa': 16.6, 'china': 7.06, 'japan': 9.14, 'south korea': 15}
{'canada': 15.3, 'usa': 16.6, 'china': 7.06, 'japan': 9.14}
15.3
{'canada': {'gdp': 44100, 'carbon': 15.3}, 'usa': {'gdp': 55700, 'carbon': 16.6}, 'china': {'gdp': 16200, 'carbon': 7.06}}
canada -> {'gdp': 44100, 'carbon': 15.3}
usa -> {'gdp': 55700, 'carbon': 16.6}
china -> {'gdp': 16200, 'carbon': 7.06}

canada -> {'gdp': 44100, 'carbon': 15.3}
usa -> {'gdp': 55700, 'carbon': 16.6}
china -> {'gdp': 16200, 'carbon': 7.06}

## Functions

In [19]:
# Define a function called welcome that prints "Hello [name]. Welcome to class today!"
# insert_code_here
def welcome(fname):
    print("Hello " + fname + ". Welcome to class today!")

# Pass your name to the function you just defined
# insert_code_here
welcome("Harry")  

# Modify welcome so that it prints out first and last names
# insert_code_here
def welcome(fname, lname):
    print("Hello " + fname + " " + lname + ". Welcome to class!")

 
# Pass your first and last names to the function you just defined
# insert_code_here

welcome(fname="Harry", lname = "Izatt")

welcome(lname = "Izatt", fname = "Harry")


# Create a function called add_function that takes 2 arguments and prints their sum
# insert_code_here

def add_function(a, b):
    print(a+b)

# Try passing 20 and 22 into add_function and check if you get 42
# insert_code_here

add_function(20, 22)

Hello Harry. Welcome to class today!
Hello Harry Izatt. Welcome to class!
Hello Harry Izatt. Welcome to class!
42

# Exercise

Kim has been asked to use Python to analyze the following dataset.

![casestudy.png]()

- Create one or more Python "dictionaries" for all data in the above table (Hint: You can use nested dictionaries for the fruits and quantity/rejected, and use lists to hold the values)
- Print fruit dictionary
- Print the sum of all "Orange" Total Quantity and sum of all "Orange" Quantity Rejected
- Calculate and print the rejection rate for "Orange"
- Calculate and print the maximum of "Orange" Total Quantity (Hint: use `max()` function)

In [20]:
# create fruit dictionary

# fruit = {'insert_code_here': {'insert_code_here': insert_code_here,
#                      'insert_code_here': insert_code_here},
#          'insert_code_here': {'quantity': insert_code_here,
#                      'rejected': insert_code_here}}

fruit = {"oranges": {"quantity": [3000, 6000, 12000],
                    "rejected": [1400, 3500, 6700]},
         "bananas": {"quantity": [500, 3000, 15000],
                     "rejected": [700, 1750, 3350]} }

# print fruit dictionary
# insert_code_here

print(fruit)

# print the sum of all "Orange" Total Quantity
# print("Quantity = ", insert_code_here)

print("Quantity = ", sum(fruit["oranges"]["quantity"]))

# print the sum of all "Orange" Total Rejected

print("Quantity = ", sum(fruit["oranges"]["rejected"]))

# print("Quantity = ", insert_code_here)

# calculate and print the rejection rate for "Orange" 
# use round() to round to 2 decimal places only

orange_totalqty = sum(fruit["oranges"]["quantity"])
orange_totalrej = sum(fruit["oranges"]["rejected"])
orange_rejrate = orange_totalrej/orange_totalqty

print("Orange rejection rate = ", round(orange_rejrate, 2))

# calculate and print max of "Orange" total quantity
print("Orange max qty: ", max(fruit["oranges"]["quantity"]))

{'oranges': {'quantity': [3000, 6000, 12000], 'rejected': [1400, 3500, 6700]}, 'bananas': {'quantity': [500, 3000, 15000], 'rejected': [700, 1750, 3350]}}
Quantity =  21000
Quantity =  11600
Orange rejection rate =  0.55
Orange max qty:  12000

# Harry's Challenges

I've made some additions to Krisha's original workshop - a number of coding problems for you to work on. I'll have office hours on Tuesday and Thursday to help you with these. They are not mandatory, but recommended. Applying concepts with coding is the only way to really learn them.

They may be too difficult or easy depending on your experience level. If they're hard, come to office hours for help. I struggled on the median calculator quite a bit, so don't stress yourself out.

# 1. List Arithmetic

We've defined the lists `country`, `carbon`, and `gdp`. You can perform addition, multiplication, or any other mathematical operation with the elements of lists. Can you write a for loop that prints each GDP value divided by the Carbon value with the same index? Try to make it generalizable - so if we add a country's data to each list, you can still run the same loop and make all the calculations.

I'll suggest a few functions that might be useful.

The `len()` function takes an object and returns a number equal to how many elements it has. 

The `range()` function takes a number, and creates a range of that many integers starting at 0 and counting up.

So, range(6) would return 0, 1, 2, 3, 4, and 5. You can iterate through a range using a for loop.

In [21]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [22]:
gdp[1]/carbon[1]

3355.4216867469877

In [23]:
# answer

for i in range(len(country)):
    print(gdp[i]/carbon[i])

3418.6046511627906
3355.4216867469877
2294.6175637393767
4299.781181619256

# 2. Mean calculator

~~Create a calculator that returns unkind comments.~~

Ahem.

Create a function called `calculate_mean()`, which takes a list of numbers and returns the mean. You can do this either with a loop iterating through the elements, or mathematical functions.

As a reminder, the mean of a data series is equal to the sum of its elements, divided by the number of elements. So, the mean of the series [1, 2, 3, 4, 5, 6] is equal to (1+2+3+4+5+6)/6 = 3.

![title](images/mean.png)

In [24]:
# answer

def calculate_mean(list):
    length = 0
    sum = 0
    for num in list:
        sum = sum + num
        length = length + 1
    return sum/length

### Mean Calculator Tests

In [25]:
# this should return 3.5
calculate_mean([1, 2, 3, 4, 5, 6])

3.5

In [26]:
# this should return -6891.0
calculate_mean([100, 200, -129321, 122, 94444])

-6891.0

# 3. Bond Value Calculator

Say that the government raises money with bonds that cost $100 now, grow at an interest rate of 5% per year, and are repaid in 10 years. How much would one of these be worth then?

Credit to [Quantecon Datascience](https://datascience.quantecon.org/python_fundamentals/control_flow.html) for a similar exercise.

In [27]:
# answer

mature_value = 100*1.05**10
print("The bond is paid off at: ", mature_value)

The bond is paid off at:  162.8894626777442

Now extend this. Create `bond_calculator()`, a function that takes a principal amount, an interest rate, and a number of years, and returns how much the bond returns at maturity.

In [28]:
# answer

def bond_calculator(principal, interest, years):
    maturity = principal*(1+interest)**years
    return maturity

### Bond Calculator Tests

In [29]:
# this should return 162.8894626777442
bond_calculator(100, 0.05, 10)

162.8894626777442

In [30]:
# this should return 13150.125784630402
bond_calculator(100, 0.05, 100)

13150.125784630402

In [31]:
# this should return 132654.2344955023
bond_calculator(50, 0.59, 17)

132654.2344955023

# 4. (Very) Big Challenge: Median calculator

![title](images/median.png)

The median of a series is the middlemost ordered value (if there's an odd number of elements) or the average of the two middlemost ordered values (if there is an even number of elements). 

For example, the series [1, 2, 3, 4, 1000000] has 5 elements, and the middlemost must be the third. Therefore the median is 3. 

In the series [1, 2, 100, 200], the median is (2+100)/2 = 51.

Create a function called `calculate_median()` that takes a list of numbers and returns the median.

This is a big leap in difficulty from the others, so I'll help you out a bit. Some methods and functions that will be useful:

- the `sort()` function is called after a list of numbers, and sorts the list into ascending ascending order. 
- the `math` module's `floor()` function returns the greatest integer not greater than the value input
- from the same module, the `ceil()` function returns the integer you'd get from rounding up the input

These will help you find the middle (or two middlemost) numbers.

This took me more time than I'd like to admit, so view it as a stretch goal if you've got time and feel comfortable. Not mandatory!

In [32]:
# demonstration of .sort()

ex_list = [1, 4, 2, 5, 7, 2, 1000, 90000]
ex_list.sort()
ex_list
# now `ex_list` is in ascending order

[1, 2, 2, 4, 5, 7, 1000, 90000]

In [33]:
# demonstration of floor()
from math import floor

print(floor(2.5))
print(floor(2.9))
print(floor(2.1))
print(floor(2))
print(floor(1.9999999999999999999999999999999999999999))

2
2
2
2
2

In [34]:
# demonstration of ceil()
from math import ceil

print(ceil(2.5))
print(ceil(2.9))
print(ceil(2.1))
print(ceil(2))
print(ceil(1.9999999999999999999999999999999999999999))

3
3
3
2
2

This is also a good time to use the modulo operator, which returns the remainder of a division operation. 

If a number X can divide by 2 without a remainder, this is equivalent to X modulo 2 = 0, and equivalent to it being even.

If a number X cannot divide by 2 without a remainder, this is equivalent to X modulo 2 != 0, and equivalent to it not being even. In other words, X is odd.

In [35]:
# the remainder of 3/2 is not 0, therefore 3 is not an even number
print(3 % 2)
print((3 % 2) == 0)

# the remainder of 4/2 is 0, therefore 4 is an even number
print(4 % 2)
print((4 % 2) == 0)

1
False
0
True

In [36]:
# answer

def calculate_median(list):
    length = 0
    list.sort()
    # more efficiently done with length = len(list)
    for num in list:
        length = length + 1
    # odd case
    if (length % 2) != 0:
        mid_position = floor(length/2)
        median = list[mid_position]
        return median
    # if not odd must be even, therefore:
    else:
        upper_mid_position = floor(length/2)
        lower_mid_position = floor(length/2)-1
        median = (list[upper_mid_position] + list[lower_mid_position])/2
        return median

In [37]:
def calculate_median(value_list):
    """ 
    Takes `value_list` and finds the median.
    
    You'll want to create a conditional loop for a case when `value_list`
    has an even number of elements, and a different one for when it's odd.
    
    Remember that python accesses list elements indexing from 0. So in 
    a list with 5 elements, they are 0, 1, 2, 3, and 4, so the middle
    would be [2].
    """
    
    length = 0
    value_list.sort()
    
    # more efficiently done with length = len(value_list)
    for num in value_list:
        length = length + 1
    
    # odd case
    if (length % 2) != 0:
        mid_position = floor(length/2)
        median = value_list[mid_position]
        return median
    
    # if not odd must be even, therefore:
    else:
        upper_mid_position = floor(length/2)
        lower_mid_position = floor(length/2)-1
        median = (value_list[upper_mid_position] + value_list[lower_mid_position])/2
        return median

### Median Calculator Tests

In [38]:
# this should return 3
calculate_median([1, 2, 3, 4, 5])

3

In [39]:
# this should return 3.5
calculate_median([1, 6, 4, 3, 5, 2])

3.5

In [40]:
# this should return 5.5
calculate_median([10000000, 3, 2, 4, 9, 6, 7, 8, 5, 1])

5.5

In [41]:
# this should return 5
calculate_median([1, 9, 3, 4, 6, 5, 7, 2, 8])

5