# **MFRE Data Analytics Workshop 3 - Python I**

[Student Name]

November 8, 2021

## Try it out

In [ ]:
# run this cell with Ctrl + Enter

print("MFRE!")

MFRE!

In [ ]:
# run this cell with Shift + Enter
# it will automatically move you to the next
print("Python!")

Python!

In [ ]:
# comment this terrible code out with Ctrl + /
def bad_function(variable_2):

In [ ]:
# print out the sum of 2 + 2

In [ ]:
# print "Hello World"

Hello World!

Strings, integers, and floats

In [ ]:
# assign "Data Carpentry" to the object text
# text = insert_code_here

text = 

# assign 42 to the object number
# insert_code_here

number = 

# assign 3.1415 to the object pi_value
# insert_code_here

pi_value = 

# print text
# use print() to print the value of number
# use print() to print the value of text

print()
print()

42
Data Carpentry

In [ ]:
# take the types of all variables created above

int

Operators

In [ ]:
# Addition: +
# insert_code_here
print("Addition:")
addition = 
print()

# Subtraction: -
# insert_code_here
print("Subtraction:")
subtraction = 
print()


# Multiplication: *
# insert_code_here
print("Multiplication")
multiplication = 
print()

# Power: **
# insert_code_here
print("Exponent")
power_1 = 
power_2 = 
print()
print()

# Modulo: %
# insert_code_here
print("Modulo")
modulo_1 = 
modulo_2 = 
print()
print()

# Division: /
# insert_code_here
print("Division")
division_1 = 
division_2 = 
print()
print()

SyntaxError: ignored

Logic Operators

In [ ]:
# Examples: <, >, ==, !=, <=, >= 

# insert_code_here test if number < pi_value
# insert_code_here test if number > pi_value
# insert_code_here test if number == pi_value
# insert_code_here test if number != pi_value
# insert_code_here test if number <= pi_value
# insert_code_here test if number >= pi_value
print()
print()
print()
print()
print()
print()

False
True
False
True
False
True

## Lists 
- one of the most fundamental data structures in Python
- build lists using square brackets

In [ ]:
# country = insert_code_here
country = ["canada", "usa", "china", "japan"]

# gdp = insert_code_here
gdp = [44100, 55700, 16200, 39300]

# carbon = insert_code_here
carbon = [15.3, 16.6, 7.06, 9.14]

# print country list
# print length of country list
# insert_code_here
print(country)
print(len(country))

['canada', 'usa', 'china', 'japan']
4

In [ ]:
# check type of country variable
# check type of country variable entry indexed to 1
# insert_code_here

print()
print()

# check length of country variable
# check length of country variable entry indexed to 1
# insert_code_here
len()

<class 'list'>
<class 'str'>

4

Lists can also contain different data type, including lists.

In [ ]:
# create 
# example1 = insert_code_here
example_1 =["canada", 15.3, "usa", 16.6, "china", 7.06, "japan", 9.14]

# example2 = insert_code_here
example_2 = [
                ["canada", 15.3],
                ["usa", 16.6],
                ["china", 7.06],
                ["japan", 9.14]]

            
# print example1
# insert_code_here
print(example_1)

# print example2
# insert_code_here
print(example_2)

# print "length of example1: [value]"
# print("length of example2: ", insert_code_here)
print("length of example1: ", )
print("length of example2: ", )

['canada', 15.3, 'usa', 16.6, 'china', 7.06, 'japan', 9.14]
[['canada', 15.3], ['usa', 16.6], ['china', 7.06], ['japan', 9.14]]
length of example1:  8
length of example2:  4

Each element in a list can be accessed by an index.

In [ ]:
# print China's carbon emissions using data from example1
# wrap the value in str() so that it can go in the print() function!
# insert_code_here
print("China's carbon emissions per capita are: " + str(example_1[?]))

# print Japan's carbon emissions using data from example2
# insert_code_here
print("Japan's's carbon emissions per capita are: " + str(example_2[?][?]))

China's carbon emissions per capita are: 7.06

IndexError: list index out of range

Slicing lists `[start_index:end_index]`

When you slice a list, it will access the element at `start_index`, but stop just before the element at `end_index`.

If you leave either side of the `:` empty, it will slice all the way to the end on that side. So `example_1[2:]` will return `['usa', 16.6, 'china', 7.06, 'japan', 9.14]`, and `example_1[:2]` will return `['canada', 15.3]`

You can also count backwards using negative values.

In [ ]:
country

NameError: ignored

In [ ]:
# as reminder of what's in `example_1`
example_1

NameError: ignored

In [ ]:
# print from usa to china using example1
# insert_code_here

# print from canada to usa using example1
# insert_code_here

# print from china to japan using example1
# insert_code_here

# print china's and japan's emissions only (no country name) using example2
# insert_code_here

In [ ]:
# can do this better with a numpy array - but that's beyond the scope of this workshop

import numpy as np

matrix_2 = np.array(example_2)
list(matrix_2[2:, 1])

['7.06', '9.14']

In [ ]:
# print the index of a certain value in the list using .index() function
# insert_code_here

# change canada's emission from 15.3 to 16.3
# insert_code_here

# change Canada's entries to South Korea's emissions (12.9)
# insert_code_here

# print example1

# add Canada's name and carbon emissions to the end of example_1
# insert_code_here

# print example1

# use the del() function to delete south korea from the list
# insert_code_here

# print example1

# use the sum() function to sum elements in carbon
# insert_code_here

# use the for loop to access elements in a list
# insert_code_here

# Loops

For Loops iterate through a set of steps. They are structured as such:

     for x in y_list:

       <do something>


Tip:

If you've got a list you want to iterate through, and call every element in order, you can use a similar structure to sample loop 2 below. 

The first line is a basic loop, for the `i` in `range(len(your_list)):`

The next line indexes through your list with `your_list[i]`.

In [ ]:
# sample loop 1

for value in gdp:
    print(value*2)

88200
111400
32400
78600

In [ ]:
# sample loop 2: more complex/useful
population = [38929000, 442503000, 1426000000, 125569000]

for i in range(len(population)):
    print(population[i]*gdp[i])

1716768900000
24647417100000
23101200000000
4934861700000

## Dictionaries

- hold key:value pairs
- use curly brackets `{ }`
- use `data['key']` to access value of a given key
- can access keys with .keys() method
- can access values with .values() method

In [ ]:
simple_dict = {"a": 1, "b": 2}
print(simple_dict.keys())
print(simple_dict.values())
print(simple_dict["a"])

dict_keys(['a', 'b'])
dict_values([1, 2])
1

In [ ]:
print(country)
print(carbon)

['canada', 'usa', 'china', 'japan']
[15.3, 16.6, 7.06, 9.14]

16.6

In [ ]:
# Let's say we want to access USA's emissions from the carbon list
# But we don't know the index of USA in the country list 

# First access the index of USA from the country list
# usa_index = insert_code_here


# Access USA's emissions from the carbon list using this index number
# insert_code_here


# This method works but is not that efficient

In [ ]:
# Define a dictionary called emissions
# insert_code_here

# print china's emissions
# insert_code_here

# add south korea (12.9) to the dictionary
# insert_code_here

# print emissions
# insert_code_here

# change south korea's emissions to 15
# insert_code_here

# print emissions 
# insert_code_here

# use del() function to delete south korea from the dict
# insert_code_here

# print emissions
# insert_code_here

# create a nested dictionary called data containing GDP and carbon emissions
# insert_code_here

# print canada's carbon emissions
# insert_code_here

# add china (gdp = 16200, carbon = 7.06) to data
# insert_code_here
# insert_code_here

# print data
# insert_code_here

# method 1 to use for loops with dictionaries to access each element
# insert_code_here

# method 2 to use for loops with dictionaries to access each element  
# insert_code_here

In [ ]:
# dictionary for loops


# use method 1 to loop through `data`


# use method 2 to loop through `data`

canada :  {'gdp': 44100, 'carbon': 15.3}
usa :  {'gdp': 55700, 'carbon': 16.6}
china :  {'gdp': 16200, 'carbon': 7.06}
canada :  {'gdp': 44100, 'carbon': 15.3}
usa :  {'gdp': 55700, 'carbon': 16.6}
china :  {'gdp': 16200, 'carbon': 7.06}

In [ ]:
# accessing keys:

emissions.keys()

dict_keys(['canada', 'usa', 'china', 'japan'])

In [ ]:
# accesing values

emissions.values()

dict_values([15.3, 16.6, 7.06, 9.14])

## Functions

In [ ]:
# Define a function called my_function that prints "Hello [name]. Welcome to class today!"
# insert_code_here
  
# Pass your name to the function you just defined
# insert_code_here

# Modify my_function so that it prints out first and last names
# insert_code_here
  
# Pass your first and last names to the function you just defined
# insert_code_here

# Create a function called add_function that takes 2 arguments and prints their sum
# insert_code_here

# Try passing 20 and 22 into add_function and check if you get 42
# insert_code_here

# Exercise

Kim has been asked to use Python to analyze the following dataset.

![casestudy.png]()

- Create one or more Python "dictionaries" for all data in the above table (Hint: You can use nested dictionaries for the fruits and quantity/rejected, and use lists to hold the values)
- Print fruit dictionary
- Print the sum of all "Orange" Total Quantity and sum of all "Orange" Quantity Rejected
- Calculate and print the rejection rate for "Orange"
- Calculate and print the maximum of "Orange" Total Quantity (Hint: use `max()` function)

In [ ]:
# create fruit dictionary

# fruit = {'insert_code_here': {'insert_code_here': insert_code_here,
#                      'insert_code_here': insert_code_here},
#          'insert_code_here': {'quantity': insert_code_here,
#                      'rejected': insert_code_here}}

fruit = {"oranges": {"quantity": [3000, 6000, 12000],
                    "rejected": [1400, 3500, 6700]},
         "bananas": {"quantity": [500, 3000, 15000],
                     "rejected": [700, 1750, 3350]} }

# print fruit dictionary
# insert_code_here


# print the sum of all "Orange" Total Quantity
# print("Quantity = ", insert_code_here)


# print the sum of all "Orange" Total Rejected


# print("Quantity = ", insert_code_here)


# calculate and print the rejection rate for "Orange" 
# use round() to round to 2 decimal places only


print("Orange rejection rate = ", round(orange_rejrate, 2))

# calculate and print max of "Orange" total quantity
print("Orange max qty: ", max(fruit["oranges"]["quantity"]))

# Harry's Challenges

I've made some additions to Krisha's original workshop - a number of coding problems for you to work on. I'll have office hours on Monday (and perhaps later in the week) to help you with these. They are not mandatory, but giving them a go is recommended. Applying concepts with coding is the only way to really learn them.

They may be too difficult or easy depending on your experience level. If they're hard, come to office hours for help. I struggled on the median calculator quite a bit, so don't stress yourself out on that one in particular.

# 1. List Arithmetic

We've defined the lists `country`, `carbon`, and `gdp`. You can perform addition, multiplication, or any other mathematical operation with the elements of lists. Can you write a for loop that prints each GDP value divided by the Carbon value with the same index? Try to make it generalizable - so if we add a country's data to each list, you can still run the same loop and make all the calculations.

I'll suggest a few functions that might be useful.

The `len()` function takes an object and returns a number equal to how many elements it has. 

The `range()` function takes a number, and creates a range of that many integers starting at 0 and counting up.

So, range(6) would return 0, 1, 2, 3, 4, and 5. You can iterate through a range using a for loop.

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
gdp[1]/carbon[1]

3355.4216867469877

In [ ]:
# answer

for i in range(len(country)):
    print(gdp[i]/carbon[i])

3418.6046511627906
3355.4216867469877
2294.6175637393767
4299.781181619256

# 2. Mean calculator

~~Create a calculator that returns unkind comments.~~

Ahem.

Create a function called `calculate_mean()`, which takes a list of numbers and returns the mean. You can do this either with a loop iterating through the elements, or mathematical functions.

As a reminder, the mean of a data series is equal to the sum of its elements, divided by the number of elements. So, the mean of the series [1, 2, 3, 4, 5, 6] is equal to (1+2+3+4+5+6)/6 = 3.

![mean.png]()

In [ ]:
# answer

def calculate_mean(list):
    """
    Code a loop that sums the values in `list`, divides by how many values it has,
    assigns this to `mean`, and then returns `mean`
    """
        
    mean = 
    return mean

### Mean Calculator Tests

In [ ]:
# this should return 3.5
calculate_mean([1, 2, 3, 4, 5, 6])

3.5

In [ ]:
# this should return -6891.0
calculate_mean([100, 200, -129321, 122, 94444])

-6891.0

# 3. Bond Value Calculator

Say that the government raises money with bonds that cost $100 now, grow at an interest rate of 5% per year, and are repaid in 10 years. How much would one of these be worth then?

Credit to [Quantecon Datascience](https://datascience.quantecon.org/python_fundamentals/control_flow.html#ex2-3) for inspiring this with a similar exercise.

In [ ]:
# answer
# fill in the equation for the bond's return as `mature_value`

mature_value = 
print("The bond is paid off at: ", mature_value)

Now extend this. Create `bond_calculator()`, a function that takes a principal amount, an interest rate, and a number of years, and returns how much the bond returns at maturity.

In [ ]:
# answer

def bond_calculator(principal, interest, years):
    maturity = #calculate return
    return maturity

### Bond Calculator Tests

In [44]:
# this should return 162.8894626777442
bond_calculator(100, 0.05, 10)

NameError: ignored

In [45]:
# this should return 13150.125784630402
bond_calculator(100, 0.05, 100)

NameError: ignored

In [ ]:
# this should return 132654.2344955023
bond_calculator(50, 0.59, 17)

# 4. (Very) Big Challenge: Median calculator

![median.png]()


The median of a series is the middlemost ordered value (if there's an odd number of elements) or the average of the two middlemost ordered values (if there is an even number of elements). 

For example, the series [1, 2, 3, 4, 1000000] has 5 elements, and the middlemost must be the third. Therefore the median is 3. 

In the series [1, 2, 100, 200], the median is (2+100)/2 = 51.

Create a function called `calculate_median()` that takes a list of numbers and returns the median.

This is a big leap in difficulty from the others, so I'll help you out a bit. Some methods and functions that will be useful:

- the `sort()` function is called after a list of numbers, and sorts the list into ascending ascending order. 
- the `math` module's `floor()` function returns the greatest integer not greater than the value input
- from the same module, the `ceil()` function returns the integer you'd get from rounding up the input

These will help you find the middle (or two middlemost) numbers.

This took me more time than I'd like to admit, so view it as a stretch goal if you've got time and feel comfortable. Not mandatory!

In [ ]:
# demonstration of .sort()

ex_list = [1, 4, 2, 5, 7, 2, 1000, 90000]
ex_list.sort()
ex_list
# now `ex_list` is in ascending order

[1, 2, 2, 4, 5, 7, 1000, 90000]

In [ ]:
# demonstration of floor()
from math import floor

print(floor(2.5))
print(floor(2.9))
print(floor(2.1))
print(floor(2))
print(floor(1.9999999999999999999999999999999999999999))

2
2
2
2
2

In [ ]:
# demonstration of ceil()
from math import ceil

print(ceil(2.5))
print(ceil(2.9))
print(ceil(2.1))
print(ceil(2))
print(ceil(1.9999999999999999999999999999999999999999))

3
3
3
2
2

This is also a good time to use the modulo operator, which returns the remainder of a division operation. 

If a number X can divide by 2 without a remainder, this is equivalent to X modulo 2 = 0, and equivalent to it being even.

If a number X cannot divide by 2 without a remainder, this is equivalent to X modulo 2 != 0, and equivalent to it not being even. In other words, X is odd.

In [ ]:
# the remainder of 3/2 is not 0, therefore 3 is not an even number
print(3 % 2)
print((3 % 2) == 0)

# the remainder of 4/2 is 0, therefore 4 is an even number
print(4 % 2)
print((4 % 2) == 0)

1
False
0
True

In [ ]:
# answer

def calculate_median(value_list):
    """ 
    Takes `value_list` and finds the median.
    
    You'll want to create a conditional loop for a case when `value_list`
    has an even number of elements, and a different one for when it's odd.
    
    Remember that python accesses list elements indexing from 0. So in 
    a list with 5 elements, they are 0, 1, 2, 3, and 4, so the middle
    would be [2].
    """

    
        # odd case
    if #list length is odd:
        
        median = #find middle value
        return median
    
    # if not odd must be even, therefore:
    else:
        
        median = #average of two middlemost values
        return median

### Median Calculator Tests

In [ ]:
# this should return 3
calculate_median([1, 2, 3, 4, 5])

3

In [ ]:
# this should return 3.5
calculate_median([1, 6, 4, 3, 5, 2])

3.5

In [ ]:
# this should return 5.5
calculate_median([10000000, 3, 2, 4, 9, 6, 7, 8, 5, 1])

5.5

In [ ]:
# this should return 5
calculate_median([1, 9, 3, 4, 6, 5, 7, 2, 8])

5